#container {
    display: flex;
    align-items: flex-start;
    background-color: #FFFFFF;
    min-height: 100vh;
    background-color: #F6F8F9;
    position: relative;
}

.menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    height: 40px;
    width: 152px;
    margin : 14px;
    /*  */
}
.menu-logo i {
    transform: rotateY(180deg);
    height: 24px;
    width: 24px;
}
.menu-logo a {
    width: 102px;
    height: 24px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding-left: 6px;
    line-height: 24px;
    color: #252C32;
}

.item-container {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    
}

.menu-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-radius: 1px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #3F3F46;
}
.menu-item:hover {
    background-color: #D7EDFF;
    border-radius: 6px;
}

.menu-item img {
    height: 24px;
    width: 24px;
    margin-bottom: 8px;
}

/* TOP - RIGHT */

.container-content {
    border-left: 1px solid #E5E7EB;
}

.div-rigth {
    background-color: #FFFFFF;
    height : 100%;
    width: 100%;
    border-left: 1px solid #E5E7EB;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #E5E7EB;
}
.header i {
    height: 36px;
    width: 36px;
    color: #B0BABF;
    line-height: 36px;
}
.header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header button img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin: 10px 24px 10px 12px;
}
/* search bar TOP*/
.menu-content {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.menu-content h2 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.022em;
    color: #252C32;
}
.menu-content button {
    background-color: #4094F7;
    color: #F6F8F9;
    width: 166px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid;
    border-radius: 6px ;
    cursor: pointer;
}
.search-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 0 20px 11px 0;
}
.option {
    position: relative;
    height: 40px;
    width: 259px;
    padding : 10px 42px 10px 14px;
    border-radius: 6px;
    cursor: pointer;
}
.option option {
    height: 40px;
    /* 👆 Nếu không được thì xoá ! */
}

/* Hình mũi tên danh sách chưa style */
.search-bar input {
    height : 40px;
    width: 254px;
    padding: 12px 50px 12px 16px;
    position: relative;
}
.search-bar button {
    background-color: transparent;
    color: none;
    border: none;
    position: absolute;
    height: 16px;
    width: 16px;
    top: 12px;
    right: 36px;
    color: rgba(100, 116, 139, 1);
}
.search-bar button i {
    height: 16px;
    width: 16px;
    top: 12px;
    right: 36px;
    color: rgba(100, 116, 139, 1);
}

/* Content */

table {
    width: 100%;
    border-collapse: separate; /* giữ border */
    border-spacing: 0;
    table-layout: fixed;
}

.content {
    padding-left: 24px;
    padding-right: 24px;
}
.content-menu {
    width: 100%;
    height: 44px;
    padding: 24px;
    text-align: left;
    background-color: #F9FAFB;
}
th{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
}
th, td {
    padding: 24px; 
    text-align: left;
}
td  {
    font-size: 14px;
    color: #101828;
    border-bottom: 1px solid #E5E7EB;
}
.content-bowel {
    border-bottom: 1px;
}
.number {
    width: 274px;
}
.category-name {
    width: 434px;
}
.status {
    width: 235px;
}
.function2 {
    width: 169px;
}
.icon-right {
    height: 40px;
    width: 40px;
}
.icon-content {
    height: 40px;
    width: 40px;
}
.icon-content-button {
    background-color: transparent;
    border: none;
}

.button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.category-green , .category-red {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    border-radius: 16px;
    height: 22px;
    width: 120px; 
}
.category-green {
    color: rgb(2, 122, 72);
    background-color: rgba(29, 190, 123, 0.5);
}

.category-red {
    color: #B91C1C;
    background-color: rgba(211, 22, 22, 0.05);
}


/* Page-choose-number */
.page-choose-number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.page-button , .page-number {
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    width: 32px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #D8DAE5;
}

.page-choose-number button:hover {
    background-color: #0066FF;
    border-radius: 4px;
}



.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: 9; 
    content: "";
}


/* Thêm mới sản phẩm */
.update-parent {
    position: fixed;
    display: none;
    padding: 24px;
    width: 892px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F6F8F9;
    border-radius: 10px;
    z-index: 999;
}
.update-parent h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    margin-bottom: 12px;
    background-color: #FFFFFF;
}

.update-child {
    display: flex;
    gap: 20px;
}
.required {
    color: #B91C1C;
}

.update-code-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.update-code-product input {
    height: 44px;
    width: 410px;
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 10px;
    margin-top: 8px;
}
.update-option {
    height: 44px;
    width: 410px;
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 10px;
    margin-top: 8px;
}

.update-name {
}
.update-choose p , .update-quantity, .update-price, .update-sales , .update-img-input , .product-details {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 21px;
}
.update-quantity input , .update-price input , .update-sales input {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding : 10px;
    height: 44px;
    width: 266px;
    margin-bottom: 24px;
    margin-top: 8px;
}
.update-choose label span:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.update-img-input input , .product-details input { 
    padding: 12px 16px 11px 16px;
    height: 44px;
    width: 850px;
    border: 1px solid #DADADA;
    border-radius: 8px;
    margin-top: 8px;
}
.product-details input {
    height: 92px;
}

.text {
    margin-right: 38px;
}
.line-textInput {
    height: 1px;
    width: 851px;
    background-color: #B0BABF;
    margin-bottom: 24px;
}

.btn-cancel-save {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.btn-cancel-save button {
    height: 44px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
}
.btn-cancel-save button:nth-child(1) {
    background-color: transparent;
    border: 1px solid #E4E4E7;
    width: 72px;
    color: #18181B;
}
.btn-cancel-save button:nth-child(2) {
    background-color: #007AFF;
    border: 1px;
    width: 86px;
    color: #FFFFFF;
}

/* Cập nhật sản phẩm */
.edit-parent {
    position: fixed;
    display: none;
    padding: 24px;
    width: 892px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    z-index: 999;
}
.edit-parent h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
    margin-bottom: 12px;
    
}

.edit-child {
    display: flex;
    gap: 20px;
}
.required {
    color: #B91C1C;
}

.edit-code-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.edit-code-product input {
    height: 44px;
    width: 410px;
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 10px;
    margin-top: 8px;
}
.edit-option {
    height: 44px;
    width: 410px;
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding: 10px;
    margin-top: 8px;
}

.edit-choose p , .edit-quantity, .edit-price, .edit-sales , .edit-img-input , .product-details {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 21px;
}
.edit-quantity input , .edit-price input , .edit-sales input {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding : 10px;
    height: 44px;
    width: 266px;
    margin-bottom: 24px;
    margin-top: 8px;
}
.edit-img-input input , .product-details input { 
    padding: 12px 16px 11px 16px;
    height: 44px;
    width: 850px;
    border: 1px solid #DADADA;
    border-radius: 8px;
    margin-top: 8px;
}
.product-details input {
    height: 92px;
}

.text {
    margin-right: 38px;
}
.line-textInput {
    height: 1px;
    width: 851px;
    background-color: #B0BABF;
    margin-bottom: 24px;
}

.btn-cancel-save {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.btn-cancel-save button {
    height: 44px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
}
.btn-cancel-save button:nth-child(1) {
    background-color: transparent;
    border: 1px solid #E4E4E7;
    width: 72px;
    color: #18181B;
}
.btn-cancel-save button:nth-child(2) {
    background-color: #007AFF;
    border: 1px;
    width: 86px;
    color: #FFFFFF;
}


.box-none {
    position: fixed;
    display: none;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.box-none-container {
    display: flex;
    flex-direction: column;
    /*  */
    width: 500px;
    height: 268px;
    border-radius: 8px;
    padding: 24px;
    margin: 500px auto;
    background-color: #FFFFFF;
    gap: 24px;
}

.box-none-container img {
    height: 48px;
    width: 48px;
    border-radius: 28px;
    border: 8px;
}
.box-none-para p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #101828;
}
.box-none-para span {
    height: 24px;
    font-weight: 400;
    font-size: 14px;
}
.box-none-para span b {
    font-weight: 600;
}
.box-none-para {
    color: #667085;
}

.line {
    height: 1px;
    width: 458px;
    background-color: #B0BABF;
}
.box-none-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}
.box-none-btn button {
    width: 60px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}
.cancel {
    background-color: transparent;
}
.delete {
    background-color: #D92D20;
    border: 1px solid #D92D20;
    color: #FFFFFF;
}


/* Notify */

.notify {
    background-color: #344054B2;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

    display: none;
    justify-content: flex-end;
}
.notify-delete {
    height: 91px;
    width: 450px;
    background-color: #333E5A;
    padding: 16px;
    border-radius: 16px;
    position: relative;
    margin-bottom: 12px;
}
.notify-detele-parent {
    display: flex;
    gap: 8px;
}

.notify-delete button {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 16px;
}

.notify-delete-parent p {
    font-size: 18px;
    font-weight: 500;
    margin-left: 32px;
}
.notify-delete p {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
}
