* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#register-text {
    text-align: center;
}
#register-text h2 {
    font-weight: 600;
    color: #101828;
    font-size: 36px;
    line-height: 44px;
    width: 768px;
    height: 44px;
    margin-bottom: 20px;
    
}
#register-text p {
    color: #667085;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
    
}
#form {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 24px;
}
.form-div-userName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.form-div {
    display: flex;
    flex-direction: column;
}
.form-label , .form-div-lebal {
    font-size: 14px;
    font-weight: 600px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 6px;
}
.form-input , .form-div-input {
    height: 48px;
    width: 224px;
    padding: 12px 16px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.form-input {
    width: 480px;
}
.checkbox-span {
    display: flex;
    align-items: center;
}

.checkbox-span input {
    color: #D0D5DD;
    border: 1px;
    border-radius: 6px;
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.checkbox-span span {
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.onlick-href {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: 24px;
    color: #007AFF;
}
.button {
    background-color: #1A0DEE;
    height: 48px;
    color: #FFFFFF;
    border: 1px;
    border-radius: 8px;
}
.acount-ques {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
